@media (max-width: 1024px) {
    .container {
        max-width: 952px;
    }

    .header__desktop {
        display: none;
    }

    .header__laptop {
        display: block;
    }

    .special-abilities__list {
        grid-template-columns: repeat(auto-fit, minmax(296px, 1fr));
        gap: 32px;
    }

    .card__bottom-right {
        display: none;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 632px;
    }
    .header__laptop {
        display: none;
    }

    .header__tablet {
        display: block;
    }

    .special-abilities__item {
        display: flex;
    }
}

@media (max-width: 320px) {
    .container {
        max-width: 296px;
        padding: 0 12px;
    }

    .header {
        padding-bottom: 32px;
    }

    .header__tablet {
        display: none;
    }

    .header__mobile {
        display: block;
    }

    .hero,
    .new-collect {
        padding-top: 32px;
        display: block;
        height: 302px;
    }

    .hero__img,
    .new-collect__img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        height: 210px;
    }

    .hero .container,
    .new-collect .container {
        position: unset;
        transform: unset;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .hero__title,
    .new-collect__title {
        font-size: 20px;
        margin-bottom: unset;
    }

    .new-collect__title-gold {
        font-size: 24px;
    }

    .special-abilities__list {
        gap: 24px;
    }

    .high-rating {
        padding-bottom: 32px;
    }

}