.high-rating {
    padding-top: 70px;
}

.high-rating__title {
    margin-bottom: 26px;
}

.high-rating__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(296px, 1fr));
    gap: 32px;
}

.high-rating__item {
    height: 420px;
}