@media (max-width: 1024px) {
    .header__desktop {
        display: none;
    }

    .header__laptop {
        display: block;
    }
}

@media (max-width: 768px) {
    .header__laptop {
        display: none;
    }

    .header__tablet {
        display: block;
    }

    .nav-bottom {
        display: none;
    }
}

@media (max-width: 320px) {
    .header {
        padding-bottom: 32px;
    }

    .nav-bottom__list {
        flex-wrap: nowrap;
    }

    .header__tablet {
        display: none;
    }

    .header__mobile {
        display: block;
    }

    .nav-bottom {
        display: block;
    }
}