/* Text Link */
.text-link {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: var(--black, #333);
}

.text-link:hover {
    color: var(--primary, #A65CF0);
}

.text-link:focus {
    color: var(--black, #333);
    background: var(--pink_violet, #EBD1FF);
}

.text-link:active {
    color: var(--primary_shade, #7033AC);
}

/* Text Link Light */
.text-link-light {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: var(--grey, #999);
}

.text-link-light:hover {
    color: var(--primary, #A65CF0);
}

.text-link-light:focus {
    color: var(--primary_shade, #7033AC);
    background: var(--pink_violet, #EBD1FF);
}

.text-link-light:active {
    color: var(--primary_shade, #7033AC);
}