.title-1 {
    color: var(--black, #333);
    font-size: 32px;
    font-weight: 400;
}

.special-abilities {
    padding-top: 70px;
}

.special-abilities__title {
    margin-bottom: 26px;
}

.special-abilities__list {
    display: grid;
    grid-template-columns: 296px minmax(296px, 624px) 296px;
    gap: 32px;
}

.special-abilities__item {
    height: 511px;
    display: none;
}
.special-abilities__item:nth-child(1),
.special-abilities__item:nth-child(2),
.special-abilities__item:nth-child(3) {
    display: flex;
}

.special-abilities__list .card:nth-child(2) .card__bottom {
    display: inline-flex;
    flex-direction: unset;
    gap: unset;
    max-width: unset;
}

.special-abilities .secondary-btn {
    align-self: start;
}