.title-1 {
    color: var(--black, #333);
    font-size: 32px;
    font-weight: 400;
}

.special-abilities {
    padding-top: 70px;
}

.special-abilities__title {
    margin-bottom: 26px;
}

.special-abilities__list {
    display: grid;
    grid-template-columns: 296px minmax(296px, 624px) 296px;
    gap: 32px;
}

.card {
    padding: 30px;
    position: relative;
    border-radius: 10px;
    height: 511px;
    display: flex;
    flex-direction: column;
    background: var(--grey_light, #F6F6F6);
}

.card__img {
    width: 100%;
    height: 100%;
}

.discount {
    position: absolute;
    top: 30px;
    left: 0;
    padding: 7px 0;
    text-align: center;
    width: 92px;
    height: 34px;
    background-image: url("../../img/icons/discount.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.discount__price {
    color: var(--white, #FFF);
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}

.card__title {
    color: var(--black, #333);
    font-size: 24px;
    font-weight: 400;
}

.card__top {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-grow: 1;
}

.card__bottom {
    padding-top: 16px;
    display: inline-flex;
    flex-direction: column;
    gap: 24px;
    max-width: 225px;
}

.special-abilities__item {
    display: none;
}
.special-abilities__item:nth-child(1),
.special-abilities__item:nth-child(2),
.special-abilities__item:nth-child(3) {
    display: flex;
}

.special-abilities__list .card:nth-child(2) .card__bottom {
    display: inline-flex;
    flex-direction: unset;
    gap: unset;
    max-width: unset;
}

.card__bottom-left {
    flex-shrink: 0;
    display: inline-flex;
    flex-direction: column;
    gap: 24px;
    max-width: 225px;
}

.card__bottom-right {
    flex-grow: 1;
    column-gap: 20px;
    display: flex;
    justify-content: end;
    align-items: end;
}

.card__prices {
    display: inline-flex;
    align-items: center;
    gap: 30px;
}

.card__prices-new {
    color: var(--secondary, #FF862F);
    font-size: 18px;
    font-weight: 400;
}

.card__prices-old {
    color: var(--grey, #999);
    font-size: 16px;
    font-weight: 400;
    text-decoration-line: line-through;
}

.special-abilities .secondary-btn {
    align-self: start;
}